<mat-card>
    <span>Create new entry</span>
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="new-entry-field">
            <input matInput placeholder="Entry Description">
        </mat-form-field>

        <mat-form-field class="new-entry-field">
            <mat-select placeholder="Entry Type">
                <mat-option **ngFor="let type of types" [value]="type.value">
                    {{type.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="new-entry-field">
            <input matInput placeholder="Entry value">
        </mat-form-field>
        <button mat-raised-button>Create new</button>
    </form>
</mat-card>
